---
---


@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
$active:white;
.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    background-color: #9FB4F6  ;
    border-radius: 0px;
}

%para{
  font-size: 20px;
  font-weight: bold;
}



.navi {
  a{
    display: block;
    color:$active ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.navi>a:hover {
    background-color: #5F71AB  ;
    color: white;
}

#active {
    background-color: #0E42EA;
    color: white;
    pointer-events: none;
    @extend %para;
}
.bod, .para {
  padding: 20px 50px 20px 50px;
}

@media (min-width: 700px)
{
  nav{
    @extend %dropdown-menu;

  }
  .navi  {
      display:inline-block;
  }
}
