.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    overflow: hidden;
    background-color: #9FB4F6  ;
    border-radius: 0px;
}

.navi  {
    display:inline-block;
}

.navi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navi a:hover {
    background-color: #5F71AB  ;
    color: white;
}

#active {
    background-color: #0E42EA;
    color: white;
    pointer-events: none;
}
.bod, .para {
  padding: 20px 50px 20px 50px;
}
