.navbar {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color: grey;
}

.navi  {
    display:inline-block;
}

.navi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navi a:hover {
    background-color: black;
    color: white;
}

#active {
    background-color: green;
    color: white;
}
